<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <!--指定映射配置文件的位置 ，映射配置文件指的是每个dao独立的配置文件-->
    <typeAliases>
        <package name="entity.Admin"/>
    </typeAliases>

</configuration>
